nav{
    margin-bottom: 100px;
}

main{
    text-align: center;
    padding-top: 5%;
    padding-left: 0.5%;
}

.bestelling{
    text-align: center;
}

.totaalbedrag{
    text-align: center;
}